:root {
    --primaryColor: linear-gradient(90deg, rgb(4, 3, 5), rgb(23, 24, 28));
    --secondaryColor: rgb(27, 28, 54);
    --fontsColor: rgb(205, 202, 226);
}
/* 
removes the smooth scrolling and white space at the top and bottom of page 
*/
body {
    overscroll-behavior-y: none;
}

.heroBanner {
    background-image: var(--primaryColor);
    color: var(--fontsColor);
    margin-bottom: 0;
}

/* Sets the shadow under nav links on hover */
.buttonShadow:hover {
    text-shadow: 0 8px 12px rgba(231, 229, 229);
}
/* Sets the background on the body */
.backgroundColor {
    background-image: var(--primaryColor);
}

.navLinks {
    font-size: larger;
}

h1 span {
    font-size: 75px;
    font-weight: 500;
}

.imgSize {
    max-width: 75%;
}

/* Work section */
h2 span {
    font-size: 75px;
}

.workMargin {
    margin-bottom: 25px;
}

.insideCard {
    background-color: var(--secondaryColor);
}

.cardStyles {
    margin-bottom: 45px;
}

.colorFonts, h2 {
    color: var(--fontsColor);
}

/* about / contact me section */

.linkSize {
    font-size: 40px; 
}

/* footer section */
.footer {
    font-size: 20px; 
   border-style: solid;
   /* border-top: 20px; */
   border-top-width: 2px;
   border-color: var(--secondaryColor);
   padding-top: 25px;
   border-left-width: 0px;
   border-right-width: 0px;
   border-bottom-width: 0px;
}

.boxShadow:hover {
    box-shadow: 0 1px 11px 1px var(--fontsColor);
}

#card1:hover, #card2:hover, #card3:hover, #card4:hover, #card5:hover, #card6:hover {
    opacity: .8;
    color: var(--primaryColor);
}
