:root {
    --primaryColor: linear-gradient(90deg, rgb(4, 3, 5), rgb(23, 24, 28));
    --secondaryColor: rgb(27, 28, 54);
    --fontsColor: rgb(205, 202, 226);
}
/* 
removes the smooth scrolling and white space at the top and bottom of page 
*/
body {
    overscroll-behavior-y: none;
}

/* 
Sets the background on the body. background has to be an image because it is a gradient color
*/
.backgroundColor {
    background-image: var(--primaryColor);
}

.navLinks {
    font-size: larger;
}

/* Sets the shadow under nav links on hover */
.buttonShadow:hover {
    text-shadow: 0 8px 12px rgba(231, 229, 229);
}

/* Styles the hero section */
.heroBanner {
    background-image: var(--primaryColor);
    color: var(--fontsColor);
    margin-bottom: 0;
}

/* styles the h1 title */
h1 span {
    font-size: 75px;
    font-weight: 500;
}

/* styles the profile image */
.imgSize {
    max-width: 75%;
}

/* Work section */
h2 span {
    font-size: 75px;
}

/* Styles each project card on hover */
#card1:hover, #card2:hover, #card3:hover, #card4:hover, #card5:hover, #card6:hover {
    color: var(--primaryColor);opacity: .8;
}

/* Adds a bottom margin to the Work title */
.workMargin {
    margin-bottom: 25px;
}

/* Styles the background colour of all the cards and elements */
.insideCard {
    background-color: var(--secondaryColor);
}

/* Adds a bottom margin  to the cards */
.cardStyles {
    margin-bottom: 45px;
}

/* Sets the font colour */
.colorFonts, h2 {
    color: var(--fontsColor);
}

/* About / contact me section */
.linkSize {
    font-size: 40px; 
}

/* footer section */
.footer {
    font-size: 20px; 
    border-style: solid;
    /* border-top: 20px; */
    border-top-width: 2px;
    border-color: var(--secondaryColor);
    padding-top: 25px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
}

/* Adds a shadow to the buttons in the footer */
.boxShadow:hover {
    box-shadow: 0 1px 11px 1px var(--fontsColor);
}